@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'siteicons';
	src:url('../fonts/siteicons/siteicons.eot');
	src:url('../fonts/siteicons/siteicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/siteicons/siteicons.woff') format('woff'),
		url('../fonts/siteicons/siteicons.ttf') format('truetype'),
		url('../fonts/siteicons/siteicons.svg#siteicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #383a3c;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

a, button {
	outline: none;
}

a {
	color: #566473;
	text-decoration: none;
}

a.ip {
  color: orange;
}

a:hover, a:focus {
	color: #34495e;
}

section {
	padding: 1em;
	text-align: center;
}

section .the-intern-project {
  display: inline;
}

p.ref {
	text-align: center;
	padding: 2em 1em;
}

.section-header {
	margin: 0 auto;
	text-align: center;
	max-width: 1500px;
  margin: 0 auto;
  font-weight: 200;
  font-size: 3.5em;
  padding-bottom: 20px;
}

.site-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	text-align: center;
	padding: 3em 0;
}

.site-top a {
	display: inline-block;
	padding: 1.5em;
	text-decoration: none;
	letter-spacing: 1px;
}

.site-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.site-icon-drop:before {
	content: "\e001";
}

.site-icon-prev:before {
	content: "\e004";
}

i {
  padding: 10px;
}

.email {
  padding: 10px;
}

.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.site-main .large-header {
	background-image: url('../img/site-main-bg.jpg');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
  display: inline-table;
	transform: translate3d(-50%,-50%,0);
}

.site-main .main-title{
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .face {
  width: 150px;
  border-radius: 100%;
}

.main-title .subtext {
	font-weight: 200;
  font-size: 24px;
  letter-spacing: 0;
  transform: translateY(-10px);
}

.intern-project img{
  width: 30%;
  height: 30%;
  float: right;
  border-radius: 40px;
  margin-right: 10%;
}

.intern-project li {
  text-align: left;
  width: 30%;
  margin-left: 10%;
}

.intern-project .my-role p {
  text-align: left;
  font-weight: bold;
  margin-left: 10%;
}

.intern-project .tagline{
  text-align: left;
  width: 30%;
  margin-left: 10%;
  
}

.my-skills {
  width: 100%;
  max-width: 980px;
  padding: 0 20px 0 20px;
}

footer {
  line-height: 0px;
  text-align: center;
  padding-top: 30px;
}

@media only screen and (max-width : 768px) {
	.site-main .main-title{
		font-size: 3em;
	}
}

@media screen and (max-width: 40em) {

	.site-header h1 {
		font-size: 2.5em;
	}
}