@tooltip-bg-color: #D3D3D3;
@font-family: "Lato", Georgia, Serif;

@import "bootstrap.less";
@import "svg.less";

body {
   margin:0;
   padding:0;
   overflow:hidden;
   background-color: #211E3A;
 }
